.cover__link {
  /* position: relative; */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* width: 100%;
  height: 100%; */
  max-width: 1184px;
  min-width: 288px;
  max-height: 740px;
  min-height: 200px;
}

.cover__link::before {
  content: " ";
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.cover__link:hover::before {
  opacity: 0.8;
  transition: opacity 1s;
}