.place__link-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
}
}

 @media screen and (max-width: 1024px) {
  .place__link-title {
    line-height: 12px;
  }
}

/* @media screen and (max-width: 768px) {
  .place__link-title {
    line-height: 12px;
  }
} 

@media screen and (max-width: 320px) {
  .place__link-title {
    line-height: 12px;
  }
} */
