.header__langlink_lang_en {
  margin: 0;
}

.header__langlink_lang_en:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

@media screen and (max-width: 320px) {
  .header__langlink_lang_en {
    font-size: 18px;
    line-height: 20px;
  }
}