.cover__text {
  position: relative;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  max-width: 360px;
  padding: 32px 0 0 0;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cover__text {
    padding: 32px 0 0 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 450px) {
  .cover__text {
    padding: 25px 0 0 0;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text {
    padding: 16px 0 0 0;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
