.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/bajkaltravel.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 16/10;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 50vw;
  }
}