.cover__title {
  position: relative;
  font-style: normal;
  text-align: center;
  padding: 245px 0 0 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .cover__title {
    padding: 195px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 790px) {
  .cover__title {
    padding: 115px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .cover__title {
    padding: 20vw 0 0 0;
    font-size: 8vw;
    line-height: 55px;
    font-weight: 900;
    max-width: 75vw;
  }
}

@media screen and (max-width: 426px) {
  .cover__title {
    padding: 10vw 0 0 0;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding: 33px 16px 0 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}