.bajkal {
  margin: 0 auto 0 auto;
  max-width: 1184px;
  min-height: 200px;
  background-image: url(../../images/bajkaltravel.jpg);
  background-size: 100%;
  background-repeat: no-repeat; 
}
